<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entry - TravelBase</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script>
        function rowClicked(value) {
            location.href = "/travelbase/edit" + value
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Travelbase</a>
        </div>
        <ul class="nav navbar-nav collapse navbar-collapse">
            <li><a href="/"> Home</a></li>
            <li><a href="#">Entry</a></li>
        </ul>
    </div>
</nav>

  
  <form method="POST" th:action="@{/logout}" style="float: right">
    <button class="btn btn-danger btn-md logout" name="logout"
            value="Logout">Logout</button>
</form>
  
<div class="afbd">
<form method="POST" th:action="@{/travelbase}" th:object="${entryData}">
    <h1>Formulier verslag, <span th:text="${naam}"> naam </span></h1>
    <input type="hidden" th:field="*{id}"/>

    <div class="well">

         <div th:each="activiteit : ${activiteitenWithEvaluatiefiches}" class="activiteit">
            <label th:text="${activiteit.getKey()}">thelabel</label>
            <select th:field="*{evaluatieficheIds}">
                <option value="0"> No choice </option>
                <option th:each="evaluatiefiche : ${activiteit.getValue()}"
                        th:value="${evaluatiefiche.id}"
                        th:text="${evaluatiefiche.naam}">
                </option>
            </select>&nbsp;
        </div>
    </div>



    <div class="form-group">
        <label>Date: </label><input type="date" name="dateTime" th:field="*{dateTime}" /> &nbsp;
        <span class="validationError"
              th:if="#{fields.hasErrors('dateTime')}"
              th:errors="*{dateTime}">dateTimeError
        </span>
    </div>

    <div class="form-group">
        <label>Feedback: </label>
        <textarea class="form-control" rows="3" name="feedback" th:field="*{feedback}"></textarea>
        <span class="validationError" th:if="#{fields.hasErrors('feedback')}" th:errors="*{feedback}">feedbackError</span>
    </div>
    <div class="form-group">
        <label>Oordeel: </label>
        <textarea class="form-control" rows="3" name="oordeel" th:field="*{oordeel}"></textarea>
        <span class="validationError" th:if="#{fields.hasErrors('oordeel')}" th:errors="*{oordeel}">oordeelkError</span>
    </div>
    <div class="form-group">
        <label>Beoordeling: </label>
        <textarea class="form-control" rows="3" name="beoordeling" th:field="*{beoordeling}"></textarea>
        <span class="validationError" th:if="#{fields.hasErrors('beoordeling')}" th:errors="*{beoordeling}">beoordelingError</span>
    </div>

    <div th:if="${entryData.getId()}==0" class="form-group zaza">
        <button class="btn btn-primary btn-lg" name="submit">Create entry</button>
    </div>
    <div th:if="${entryData.getId()}!=0" class="form-group zaza">
        <button class="btn btn-primary btn-lg" name="submit">Update entry</button>
        <button class="btn btn-danger btn-lg" name="delete">Delete entry</button>
        <button class="btn btn-warning btn-lg" name="cancel">Cancel</button>
    </div>
</form>
</div>



<div th:if="${message}!=null" class="well" th:text="${message}">
    blablabla nana
</div>

<div class="container bla well">


    <div th:each="entry: ${entries}" class="row"
         th:onclick="'window.location.href = \'' + @{/travelbase/edit?id={id} (id=${entry.getId()}) } + '\''">
        <div class="col-md-auto" th:text="${#temporals.format(entry.getDateTime(), 'dd-MM-yyyy')}"> Date </div>
        <div class="col-md-auto" th:text="${entry.getEvaluatiefiche().getActiviteit().getNaam()}"> activiteit </div>
        <div class="col-md-auto" th:text="${entry.getEvaluatiefiche().getNaam()}"> evaluatiefiche </div>
        <div class="col-md-auto" th:text="${entry.getFeedback()}"> feedback </div>
        <div class="col-md-auto" th:text="${entry.getOordeel()}"> oordeel </div>
        <div class="col-md-auto" th:text="${entry.getBeoordeling()}"> beoordeling</div>
    </div>
</div>
</body>
</html>