<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travelbase</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body id="rand">
<div class="jumbotron banner">
    <div class="container">
        <h1>Welkom bij Travelbase</h1>
        <p>
            <a class="btn btn-primary btn-lg" id="btnEntry"> Ga naar Entries</a> <!-- id voor acceptatietest -->
        </p>
    </div>
</div>

<!-- afbeelding is als achtergrond aan css toegevoegd.
<img th:src="@{/images/logo.jpg}" />
-->
</body>
</html>